// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subscription_title {
    color: #2196F3;
}

.btn_registar_service {
    color:white;
    background-color:#003333;
    margin: 10px;
    
}

table, td, th { 
    border: 2px #808080 solid; 
    padding: 10px;
}

table {
    width:1200px; margin:0 auto;
}

.btn {
    padding: 1px;
}

.btn_destroy {
    color:white;
    background-color: #8c0000;
    border-radius: 0.5rem;
    letter-spacing: 0.1em;
}

.btn_edit {
    color:white;
    background-color: #8c0046;
    border-radius: 0.5rem;
    letter-spacing: 0.1em;
}

.botton_index {
    background-color: #00cccc;
    color: white;
}

.justify-content-end {
    margin-top: 10px;
}

.form-group {
    margin-top: 5px;
}

.btn-registar-edit {
    background-color: #009999;
    color:white;
    margin: 10px;
}

.container {
    width:796px; margin:0 auto;
}
